.Preview
  @extend .section

.Preview__header
  @extend .section__header

.Preview__title
  @extend .section__title

.Preview__content
  @extend .section__content
  @import "../vendor/defaults"
  border: 1px solid $grey
  overflow: scroll
  & em 
    font-style: italic
  & strong
    font-weight: bold
  & td, th 
    border: 2px solid black
    padding: 5px
  & ol 
    list-style-type: decimal
  & ul 
    list-style-type: initial